<!DOCTYPE html>
{% extends "home.html" %}

{% block content %}
    <!-- cards -->
    <h1 class="text-center mb-4">Get a Tattoo</h1>
    <div class="card-layout">
        <!-- card 1 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/arm-2.jpg')}}" alt="arm-tattoo">
            <div class="card-body">
                <h5 class="card-title">Arm Tattoo</h5>
                <p class="card-text">$100</p>
                <a href="https://calendly.com/aiwildliferanger" class="btn btn-primary">Book</a>
            </div>
        </div>
        <!-- card 2 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/arm.jpg')}}" alt="buttery tattoo">
            <div class="card-body">
                <h5 class="card-title">Butterfly arm Tattoo</h5>
                <p class="card-text">$150</p>
                <a href="https://calendly.com/aiwildliferanger" class="btn btn-primary">Book</a>
            </div>
        </div>
        <!-- card 3 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/back-1.jpg')}}" alt="back tattoo">
            <div class="card-body">
                <h5 class="card-title">Butterfly arm Tattoo</h5>
                <p class="card-text">$200</p>
                <a href="https://calendly.com/aiwildliferanger" class="btn btn-primary">Book</a>
            </div>
        </div>
        <!-- card 4 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/back-2.jpg')}}" alt="back tattoo">
            <div class="card-body">
                <h5 class="card-title">Butterfly arm Tattoo</h5>
                <p class="card-text">$140</p>
                <a href="https://calendly.com/aiwildliferanger" class="btn btn-primary">Book</a>
            </div>
        </div>
        <!-- card 5 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/back-3.jpg')}}" alt="back tattoo">
            <div class="card-body">
                <h5 class="card-title">Butterfly arm Tattoo</h5>
                <p class="card-text">$300</p>
                <a href="https://calendly.com/aiwildliferanger" class="btn btn-primary">Book</a>
            </div>
        </div>
        <!-- card 6 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/shoulder.jpg')}}" alt="shoulder tattoo">
            <div class="card-body">
                <h5 class="card-title">Butterfly arm Tattoo</h5>
                <p class="card-text">$180</p>
                <a href="https://calendly.com/aiwildliferanger" class="btn btn-primary">Book</a>
            </div>
        </div>
        <!-- card 2 -->
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='images/thigh.jpg')}}" alt="thigh tattoo">
            <div class="card-body">
                <h5 class="card-title">Butterfly arm Tattoo</h5>
                <p class="card-text">$220</p>
                <a href="https://calendly.com/tumaini736" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>
{% endblock %}
