<!DOCTYPE html>

{% extends 'home.html' %}

{% block content %}
    <div class="h-screen md:flex">
        <div class="flex md:w-full justify-center py-10 items-center">
            {% block container %}
                <div class="container py-5" style=" height: 80vh;">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6 col-lg-5">
                            <form method="post" action="{{ url_for('sign_in') }}" class="bg-white p-4 rounded shadow">
                                <h1 class="text-center text-dark fw-bold mb-4">Sign in</h1>

                                {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger text-center" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <div class="mb-3 input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-circle-user"></i></span>
                                    <input type="email" name="email" class="form-control" placeholder="Email" required />
                                </div>

                                <div class="mb-3 input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" minlength="8" required />
                                    <span class="input-group-text bg-white border-start-0" id="visibility" style="cursor: pointer;">
                                        <i class="fa-regular fa-eye" id="v_slash" style="display: none; cursor: pointer;"></i>
                                        <i class="fa-regular fa-eye-slash" id="v_plain" style="display: block; cursor: pointer;"></i>
                                    </span>
                                </div>

                                <div class="d-grid mb-3">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>

                                <p class="text-center small">Don't have an account? <a href="{{ url_for('sign_up') }}">Create Account</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}

        </div>
    </div>
   
{% endblock %}
