<!DOCTYPE html>

{% extends 'login.html' %}

{% block container %}
<form class="bg-transparent w-2/3" style="height: auto;" method="post" action="{{ url_for('sign_up') }}">
    <h1 class="text-gray-800 font-bold text-2xl mb-1 py-4">Create an Account</h1>
   
    {% for message in get_flashed_messages() %}
        <div class="flash mb-3" style="text-align: center; color: crimson;">{{ message }}</div>
    {% endfor %}
    
    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <i class="fa-solid fa-at"></i>
        <input class="pl-2 w-full outline-none border-none" type="email" name="email" placeholder="Email" maxlength="50" required />
    </div>

    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <i class="fa-solid fa-circle-user"></i>
        <input class="pl-2 w-full outline-none border-none" type="text" name="fname" maxlength="15" placeholder="First Name" required/>
    </div>

    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <i class="fa-solid fa-circle-user"></i>
        <input class="pl-2 w-full outline-none border-none" type="text" name="lname" maxlength="15" placeholder="Last Name" required/>
    </div>

    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <i class="fa-solid fa-lock"></i>
        <input class="pl-2 w-full outline-none border-none" type="password" name="password" id="password" placeholder="Password" minlength="8" required/>
        <div class="ml-2 cursor-pointer" id="visibility" style="margin-top: -1.35rem; margin-left: 12rem;">
            <i class="fa-regular fa-eye-slash ml-2" id="v_slash" style="display: none;"></i>
            <i class="fa-regular fa-eye" id="v_plain" style="display: block;"></i>
        </div>
    </div>
    <div class="flex px-4 mb-2">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
    <span class="text-sm ml-2 cursor-pointer mb-4">Already have an account?  <a href="{{ url_for('sign_in') }}">Sign in</a></span>
</form>
{% endblock %}
