{% extends "home.html"%}
{% block title %}Tatto Prices | Arts Experience{% endblock %}
{% block content %}
<div class="container">
    <h4 class="mb-4"> <i class="fa-solid fa-calendar-check px-2"></i> Select Tattoo For Appointment</h4>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Full Chest</h6>
            <p>4hrs @ $450.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div>
            <h6>Spine Tattoo</h6>
            <p>2 hrs @ $250.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Foot Tattoo</h6>
            <p>1-2 hrs @ $250.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Tapout Session</h6>
            <p>6hrs  @ $600.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Name Tattoo</h6>
            <p>45 mins @ $80.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Leg Sleeve</h6>
            <p>6hrs @ $800.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Small Tattoo</h6>
            <p>1hr @ $125.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Palm Size</h6>
            <p>2hr @ $200.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Hand Tattoo</h6>
            <p>1-2 hrs @ $300.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Portraits</h6>
            <p>2-3 hrs @ $450.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Quarter Sleeve</h6>
            <p>2-3 hrs @ $350.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Half Sleeve</h6>
            <p>4hrs @ $400.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Large Thigh Tattoo</h6>
            <p>4-5 hrs @ $600.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Aftercare</h6>
            <p>30mins hrs @ $30.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
</div>
{% endblock %}