{% extends "home.html"%}
{% block title %}Tatto Prices | Arts Experience{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-4"> <i class="fa-solid fa-calendar-check px-2"></i> Select Tattoo For Appointment</h2>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Watercolor Tattoo</h6>
            <p>4hrs @ $200.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div>
            <h6>Minimalist Tattoo</h6>
            <p>30 mins @ $75.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Portrait Tattoo</h6>
            <p>3-4 hrs @ $550.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Small Symbol</h6>
            <p>30mins - 1hr @ $80.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Full thigh</h6>
            <p>4-5 hrs @ $650.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Full Chest</h6>
            <p>4-5 hrs @ $700.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Leg Sleeve</h6>
            <p>7-8 hrs @ $1300.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Name Tattoo</h6>
            <p>1hr @ $90.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Aftercare</h6>
            <p>30mins @ $30.00</p>
        </div>
        <a href="{{ booking_link }}"><button class="btn btn-primary">Book</button></a>
    </div>
</div>
{% endblock %}